/* AUTH GATE COMMENTED OUT */
/* body:not(.rolla-authenticated) {
  visibility: hidden !important;
  overflow: hidden !important;
} */

/* #rolla-auth-overlay {
  visibility: visible !important;
} */
